.banner-wrapper {
    display: flex;
    justify-content: space-between;
}
.banner-wrapper img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}