.movie-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1200px;
}

.bgImg {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.detail-card {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
}